@import "settings";
@import "foundation";

// Matching objects
.draggable {
  z-index: 2;
}

.droppable {
  border: 1px solid white;

  &.correct {
    border-color: green;
  }

  &.incorrect {
    border-color: red;
  }
}
