---
name: dashboard
url: /dashboard.html
---

<div class="grid-container">
  <h2 class="text-center">Ongoing Sessions</h2>
  <div class="success card">
    <div class="card-section">
      <h3>Lecture 5: Legal</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla repudiandae quo corporis quos dolores id, ducimus aspernatur laudantium cum nisi!</p>
      <p class="small">by Dr. Lim Tek Yong</p>
      <a href="#!/lecture.html" class="secondary expand button">Join Class</a>
    </div>
  </div>
</div>
