---
name: home
url: /
---

<div class="grid-container">
  <h1 class="text-center">Professor Inc</h1>
  <p class="lead text-center">You may login as student.</p>
  <form>
    <label>
      E-mail
      <input type="text" name="email" placeholder="abe@student.mmu.edu.my">
    </label>
    <label>
      Password
      <input type="password" name="password">
    </label>
    <a href="#!/dashboard.html" class="expand success button">Login</a>
  </form>
</div>
