---
name: lecture
url: /lecture.html
---

<div class="grid-container">
  <h2 class="text-center">Lecture 5</h2>
  <img src="http://placehold.it/640x480?text=slide+5%2F38">
  <!-- <a class="button" zf-open="askQuestionModal">Ask Question</a> -->
  <section class="block-list">
    <header>For demo purposes</header>
    <ul>
      <li class="with-chevron">
        <a href="#!/mcq_step1.html">demo: start mcq quiz</a>
      </li>
      <li class="with-chevron">
        <a href="#!/txt_step1.html">demo: start subjective quiz</a>
      </li>
      <li class="with-chevron">
        <a href="#!/match_step1.html">demo: start matching object</a>
      </li>
    </ul>
  </section>
  
  <div id="askQuestionModal" zf-modal="">
    <a zf-close="" class="close-button">×</a>
    <h3>Drop a question to Dr. Lim</h3>
  </div>
</div>
