---
name: match_step1
url: /match_step1.html
---

<div class="grid-container">
  <h2>Match Pokemons</h2>
  <p>Match pokemons with their respective evolved forms.</p>
  <div class="grid-block small-up-2">
    <div class="grid-block">
      <div id="magikarp-draggable" class="draggable">
        <img src="/assets/img/magikarp.png">
      </div>
    </div>
    <div class="grid-block">
      <div class="draggable" id="dratini-draggable">
        <img src="/assets/img/dratini.png">
      </div>
    </div>
    <div class="grid-block">
      <div class="droppable" id="dragonite-draggable" data-answer="dratini-draggable">
        <img src="/assets/img/dragonite.jpg">
      </div>
    </div>
    <div class="grid-block" class="droppable">
      <div class="droppable" id="gyarados-droppable" data-answer="magikarp-draggable">
        <img src="/assets/img/gyarados.png">
      </div>
    </div>
  </div>
  <div class="grid-block">
    <a href="#!/lecture.html" class="expand button">Back to lecture</a>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.draggable').draggable();
    
    $('.droppable').droppable({
      drop: function(event, ui){
        console.log(this);
        if (ui.draggable[0].id == $(this).data('answer')) {
          $(this).removeClass('incorrect').addClass('correct');
        } else {
          $(this).removeClass('correct').addClass('incorrect');
        };
      }
    })
  });
</script>
