---
name: mcq_step1
url: /mcq_step1.html
---

<div class="grid-container">
  <h3>Quiz</h3>
  <p>Who did Parameswara kill when he takes over Temasek?</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button">Temagi</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button">Adolf Hitler</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button">Temagi</a>
      </div>
    </div>
    <div class="grid-block"></div>
  </div>
</div>
