---
name: mcq_step2
url: /mcq_step2.html
---

<div class="grid-container">
  <h3>Wait for your peers to answer...</h3>
  <p>Who did Parameswara kill when he takes over Temasek?</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button hollow">Temagi (36 voted, 72%)</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button hollow secondary">Adolf Hitler (12 voted, 24%)</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button hollow secondary">Alex (2 voted, 4%)</a>
      </div>
    </div>
    <section class="block-list">
      <header>For demo purposes</header>
      <ul>
        <li class="with-chevron">
          <a href="#!/mcq_step3.html">demo: end mcq quiz</a>
        </li>
      </ul>
    </section>
  </div>
</div>
