---
name: mcq_step3
url: /mcq_step3.html
---

<div class="grid-container">
  <h3>You are right! +10 points</h3>
  <p>Who did Parameswara kill when he takes over Temasek?</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button success">Temagi (36 voted, 72%)</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button hollow">Adolf Hitler (12 voted, 24%)</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/mcq_step2.html" class="expand button hollow">Alex (2 voted, 4%)</a>
      </div>
    </div>
    <section class="block-list">
      <header>For demo purposes</header>
      <ul>
        <li class="with-chevron">
          <a href="#!/lecture.html">demo: back to lecture</a>
        </li>
      </ul>
    </section>
  </div>
</div>
