---
name: txt_step1
url: /txt_step1.html
---

<div class="grid-container">
  <h3>Quiz</h3>
  <p>List 3 things about yourself.</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <textarea>Aplha, Beta, Kappa.</textarea>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <a href="#!/txt_step2.html" class="button expand">Submit</a>
      </div>
    </div>
  </div>
</div>
