---
name: txt_step2
url: /txt_step2.html
---

<div class="grid-container">
  <h3>Waiting for others (13/50)</h3>
  <p>List 3 things about yourself.</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
        <div class="card warning">
          <div class="card-section">
            <p><b>Kim:</b> Beta, Kappa, and Delta.</p>
          </div>
        </div>
      </div>
    </div>
    <section class="block-list">
      <header>For demo purposes</header>
      <ul>
        <li class="with-chevron">
          <a href="#!/txt_step3.html">demo: end txt quiz</a>
        </li>
      </ul>
    </section>
  </div>
</div>
