---
name: txt_step3
url: /txt_step3.html
---

<div class="grid-container">
  <h3>Result</h3>
  <p>List 3 things about yourself.</p>
  <div class="vertical grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <div class="card success">
          <div class="card-divider">
            <h3>Correct Answer</h3>
          </div>
          <div class="card-section">
            <p>Alpha, Delta, Gamma.</p>
          </div>
        </div>
      </div>
    </div>
    <section class="block-list">
      <header>For demo purposes</header>
      <ul>
        <li class="with-chevron">
          <a href="#!/lecture.html">demo: end txt quiz</a>
        </li>
      </ul>
    </section>
  </div>
</div>
